[Unit]
Description=Fleet Bot
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
StartLimitBurst=5
StartLimitIntervalSec=300
Type=oneshot
RemainAfterExit=yes
# Change this to your fleet bot directory
WorkingDirectory=/path/to/fleet/bot
ExecStart=/usr/bin/docker compose up -d --force-recreate
ExecStop=/usr/bin/docker compose down
TimeoutStartSec=120s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target
